body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --title-h6: Inter;
  
    /* font sizes */
    --title-h6-size: 16px;
    --title-h4-size: 20px;
    --font-size-xs: 12px;
  
    /* Colors */
    --gray-200: #eff2f4;
    --gray-500: #8b96a5;
    --gray-300: #dee2e7;
    --base-color-gray-200: #e0e0e0;
    --color-gainsboro-100: #d9d9d9;
    --base-color-dark: #1c1c1c;
    --base-color-gray-800: #606060;
    --color-dimgray-100: #505050;
    --base-color-blue: #0d6efd;
    --color-white: #fff;
    --gray-400: #bdc4cd;
    --color-silver-100: #bdbdbd;
    --base-color-orange: #ff9017;
    --color-limegreen: #00b517;
  
    /* Paddings */
    --padding-base: 16px;
    --padding-7xs: 6px;
  
    /* Border radiuses */
    --br-7xs: 6px;
    --br-8xs: 5px;
    --br-11xs: 2px;
  
    /* Effects */
    --shadow-sm: 0px 1px 2px rgba(56, 56, 56, 0.08);
  }
  